    
html.{
    background-image: url(boy_playing-wallpaer-1440X900.jpg);
    background-color: black;

}
div{
    color: white;
}
ul.{
    color: white;
    text-align: left;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    font-color: white;
    font-size: 15px;
    font-style: Georgia;
}
img footer{
    background-repeat: url (family2.jpg) url(momandboy.jpg);
    width: 5pt;
    height: 5pt;

}


.boarder{
  border-top width: medium;
  border-top color:black;

}



.dropdown ul{

* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}